torch
huggingface
transformers
sentence-transformers
streamlit
numpy
python-dotenv
google-genai
scikit-learn
spacy
torchvision
pandas
pypdf
chromadb
langchain 
langchain-community
langchain-google-genai
langchain-huggingface
ollama
langchain-ollama